.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--purple);
    align-items: center;
}
.disabled {
    background-color: var(--greyF4);
}
.value {
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    margin: 0;
}
