.container {
}
.listContainer {
  position: relative;
  z-index: 100;
}
.list {
  background-color: var(--white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.list:before {
}
.list:after {
}
.dropdownOpen > button {
}
.list li {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--grey99);
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}
.list li svg {
  width: 1em;
  height: 1em;
  margin-right: 9px;
}
.list li:hover {
}
.dropdownList {
}
