@media all and (min-width: 1024px) {
  .header {
    flex-flow: row nowrap;
    align-items: center;
  }
}

@media all and (min-width: 1540px) {
  .header {
  }
}

.header {
  height: 70px;
  background-color: var(--white);
  box-shadow: 0 10px 63px rgba(0, 0, 0, 0.07);
}

.header > .container {
  height: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logoBlock {
  display: flex;
  align-items: center;
  color: var(--red);
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}
.logoBlock svg {
  margin-right: 10px;
  fill: var(--red);
}
.logoBlock:hover svg {
  fill: var(--redDark);
}


.logoBlock:hover {
  color: var(--redDark);
}
.logoBlock img {
  margin-right: 13px;
}

.statBlock {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: var(--red);
}
.statBlock:hover {
  color: var(--redDark);
}
.statBlock:hover svg {
  fill: var(--redDark);
}
.statBlock svg {
  fill: var(--red);
}


.statBlock svg {
  margin-right: 9px;
}
.app {
  height: 50px;
  width: 300px;
}
.content {
  display: flex;
  margin: auto;
  text-align: center;
  width: 70%;
  transform: translateY(5%);
}


label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  height: 100%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}
.names p  {
  margin: 0;
  height: 30px;
  width: 30px;
}
.names svg {
  fill: var(--black);
  height: 100%;
  width: 100%;
}
.dark {
  opacity: .5;
}
.mark {
  border-radius: 100px;
  background-color: black;
}
.mark {
  width: 7%;
  margin: auto;
  position: relative;
  height: .25rem;
}
.mark::before {
  content: '';
  position: absolute;
  width: .25rem;
  height: 100%;
  left: -70%;
  opacity: .15;
  background-color: inherit;
}
.mark::after {
  content: '';
  position: absolute;
  width: .25rem;
  height: 100%;
  right: -70%;
  opacity: .15;
  background-color: inherit;
}



[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}

.statWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
