@import url("https://fonts.cdnfonts.com/css/sf-ui-display");

:root[data-theme="dark"] {
  --black: #eae8e8;
  --yellow: #b4926d;
  --purple: #757388;
  --blue: #637780;
  --orange: #cc6633;
  --red2: #EA8A79;
  --red: #dc3e22;
  --redDark: #B7280F;
  --green: #a8b64f;
  --green2: #a8b64f;
  --green3: #899441;
  --whiteLightness: 100%;
  --white: #333333;
  --greyF4: #484646;
  --greyE4: #656565;
  --grey33: #d9d9d9;
  --greyF3: hsl(0, 0%, calc(var(--whiteLightness) - 95%));
  --greyEC: hsl(0, 0%, calc(var(--whiteLightness) - 90%));
  --greyD9: hsl(0, 0%, calc(var(--whiteLightness) - 95%));
  --greyC4: hsl(0, 0%, calc(var(--whiteLightness) - 63%));
  --grey99: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
  --grey66: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --grey-demi-dark: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
  /*filter: invert(100%) hue-rotate(180deg);*/
}

:root[data-theme="light"] {
  --yellow: #FFDDA9;
  --purple: #DFDCFE;
  --blue: #C5F1FF;
  --black: #333333;
  --orange: #cc6633;
  --red2: #EA8A79;
  --red: #dc3e22;
  --redDark: #B7280F;
  --green: #a8b64f;
  --green2: #a8b64f;
  --green3: #899441;
  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --greyF4: #f4f4f4;
  --greyE4: #e4e4e4;
  --grey33: #333333;
  --greyF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --greyEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --greyD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --greyC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --grey99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --grey66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
  --grey-demi-dark: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}

body {
  min-height: 1024px;
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-size: 14px;
  line-height: 16px;
  font-family: "SF UI Display", serif;
  position: relative;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
